<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kpztech.practice.mvc.dao.StudentMapper">

    <resultMap id="studentMapper" type="com.kpztech.practice.mvc.entity.StudentEntity">
        <result column="id" property="id"/>
    </resultMap>

    <sql id="cols_all">
        id,
        <include refid="cols_exclude_id"/>
    </sql>

    <sql id="cols_exclude_id">phone,gender</sql>

    <sql id="vals">
        #{phone},
        #{gender}
    </sql>

    <!--<insert id="create" parameterType="com.youzan.retail.stock.scm.interbusiness.model.ApplyDeliveryRelation"-->
            <!--keyProperty="id" useGeneratedKeys="true">-->
        <!--INSERT INTO <include refid="tb" />-->
        <!--(<include refid="cols_exclude_id" />)-->
        <!--VALUES-->
        <!--(<include refid="vals" />)-->
    <!--</insert>-->


    <!--<update id="hiddenToShowByIds" parameterType="java.util.List">-->
        <!--UPDATE <include refid="tb" />-->
        <!--SET can_show=1-->
        <!--WHERE id IN-->
        <!--<foreach collection="ids" item="id" open="(" separator="," close=")">-->
            <!--#{id}-->
        <!--</foreach>-->
    <!--</update>-->


    <!--<insert id="batchCreate">-->
        <!--INSERT INTO-->
        <!--<include refid="tb"/>-->
        <!--(<include refid="cols_exclude_id"/>)-->

        <!--VALUES-->
        <!--<foreach collection="list" item="item" index="index" separator=",">-->
            <!--(-->
            <!--#{item.type},-->
            <!--#{item.goodsApplyBizNo},-->
            <!--#{item.deliveryBizNo},-->
            <!--#{item.groupId},-->
            <!--#{item.canShow},-->
            <!--now(),-->
            <!--now()-->
            <!--)-->
        <!--</foreach>-->
    <!--</insert>-->



    <select id="count" resultType="Long">
        SELECT count(*) FROM ${tb_student}
    </select>

</mapper>