<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kpztech.practice.mvc.mapper.StudentMapper">

    <resultMap id="studentMapper" type="com.kpztech.practice.mvc.entity.StudentEntity">
        <result column="id" property="id"/>
    </resultMap>

    <insert id="insert" parameterType="com.kpztech.practice.mvc.entity.StudentEntity" useGeneratedKeys="true" keyProperty="id">
        insert into student (phone, gender, name)
        values (#{phone}, #{gender}, #{name})
    </insert>


    <select id="count" resultType="Long">
        SELECT count(*)
        FROM student
    </select>

    <select id="page" resultType="com.kpztech.practice.mvc.entity.StudentEntity">
        SELECT *
        FROM student
        limit #{offset},#{limit}
    </select>

</mapper>